*{
  margin: 0%;
  padding: 0%;
}
nav{
  background-color: rgb(195, 190, 173);
  text-align: center;
  justify-content: center;
  color: white;
  padding: 10px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;

}
.header{
  text-align: center;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgb(0,0,0,0.3);
  font-family: 'Roboto', sans-serif;


}
.header > a{
  text-decoration: none;
  color: black;
  margin: 10px;
}
footer {
  background-color: #fff;
  color:black;
}
.container{
  background-color: rgb(231, 223, 212);
  width: 80%;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 4vmax 8vmax;
  box-sizing: border-box;
  
}
.container > form > button:hover{
  background-color: rgb(159, 197, 132);
}
.container > form {
  display: flex;
  flex-direction: column;
}
textarea,button,input {
  padding: 30px;
  border:1px solid rgba(0, 0, 0, 0.214);
  border-radius: 5px;
  margin:20px 0;
  color: gray;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;

}
/* *{
  border: 1px solid red;
} */
.task {
  background-color: #fff;
  display: flex;
  color: gray;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border:1px solid rgba(0, 0, 0, 0.214);
  margin-bottom: 10px;


}
.task > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}
.task > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  font-size: 1.6rem;
  padding: 20px;
  margin: 10px;
  
}
.task > button:hover{
  background-color: rgb(234, 104, 130);
}
.dashboardContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;

}
.loginText{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 10px;

}
.maincont {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border:1px solid rgba(0, 0, 0, 0.214);
  margin-bottom: 20px;
  padding: 10px;

  

}
.maincont > div {
  width: 100%;
}
.maincont > button {
  display: flex;
  border-radius: 100%;
  width: 10px;
  height:10px;
  font-size: 40px;
  align-items: center;
  justify-content: center;
}
.maincont > button:hover {
  background-color: rgb(169, 99, 136);
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');